body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #3897f0;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#usuario-info {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    padding: 10px;
}

#fotoPerfilUsuario {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#nombreUsuario {
    font-size: 18px; /* Tamaño de fuente ajustable según preferencia */
}

#post-form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2671b5;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

#opciones-usuario {
    position: relative;
    display: inline-block;
}

#opciones-usuario:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#editar-perfil-modal {
    display: none;
    /* Estilos para el modal de editar perfil */
}

#seguridad-modal {
    display: none;
    /* Estilos para el modal de seguridad */
}

#amigos-modal {
    display: none;
    /* Estilos para el modal de amigos */
}